@import "libs/color.scss";
@import "libs/police.scss";

/*HEADER*/

.backlogo{
    margin: -8px;
        .logoOMF{
            display : flex;
            justify-content: center;
            margin-bottom: 5px;
        }
}

.lieuindic{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: -8px;
    padding-bottom: 5px;
    background: $color_design;
    .logofont{
        padding-right: 15px;
    }
}

.navheader{
    text-align: center;
    background: #f6f6f6;
    margin: -8px;
    padding: 10px;
    height: 240px;
    .space{
        margin-left: 35px;
        margin-right: 35px;
    }
    .rechercheresto{
        background: $secondaire;
        border-radius: 50px 50px ;
        height: 45px;
        margin-left: 70px ;
        margin-right: 70px;
        text-align: center;
        .txtrecherche{
            padding: 12px;
            color: white;
        }
    }
}

.espacementf{
    margin-top: 40px;
    margin-left: 15px;
}
.espacementr{
    margin-top: 35px;
    margin-left: 20px;
}


.restoaccess{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color_design;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 15px 15px;
    height: 60px;   
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaire;
    border-radius: 50%;
    color: white ;
    position: absolute;
    left: 5px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
} 

.position{
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.iconfonction{
    color: grey;
    margin: 20px;
}

/*SECTION*/

.restoview{
    background-color: #f6f6f6;
    margin: -8px;
    padding-top: 10px;
    margin-top: 65px;
    height: 1225px;
    .carteresto{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin-left: 20px ;
    border-radius: 25px;
    height: 250px;
    margin-bottom: 20px;
    .imagesresto{
        border-radius: 15px 15px 0 0;
        height: 175px;
        object-fit: cover;
    }
    .titreresto{
        padding-left: 15px ;    
    }
    .titrelieu{
        padding-left: 15px;
        margin-top: -30px;
    }
    }
}

/*FOOTER*/

.footerOMF{
    background-color: #353535;
    color: white;
    margin: -8px;
    padding-bottom: 30px;
    .placementfooter{
        margin-left: 25px;
        padding-top: 20px ;
    }
    .placementlogo{
        display: flex;
        align-items: center;
        margin-bottom: -20px;
    }
    .iconfooter{
        width: 30px;
    }
    .placementtextf{
        margin-top: -20px;
    }
}




