.logoOMF{
    display: flex;
    justify-content: center;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Shrikhand', cursive;
}

.backlogo{
    height: 40px;
}

.textheader{
    padding: 20px;
}
.backheader{
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    border-top: 3px solid #d3d3d3;
}